*{
    padding:0;
    margin: 0;
    box-sizing: border-box;    
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('pic/bg.jpg');
    background-repeat: no-repeat;
    background-size:100% 28.0%;
    background-position: top;
  }

  /* Header/logo Title */
  .head{
    display: flex;
    height: 300px;
    background-image: url('pic/top.jpg');
    background-position:bottom;
    background-attachment: fixed;
    border-style: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    float: left;
    flex-basis: 100%;
    opacity: 0.7;
    margin-top: 50px;
  }
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 35px;
    color: rgb(238, 37, 10);
    border-radius: 30px;
    font-family: 'Original Surfer', cursive;
  }   
  .header p{
      font-size: 25px;
      color: green;
      font-family: 'Original Surfer', cursive;

  }
  .logo{
      flex-basis: 20%;
      text-align: end;
      margin-top: 10px;
      
  }
  img{
      border-radius: 15px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(32, 12, 209);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    transition-duration: 0.3s;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color:rgb(255, 66, 201);
    color: rgb(5, 0, 0);
    font-weight: bold;
  }
  
  /* Column container */
  .search-container {
    text-align: center;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    
    width: 20%;
    padding: 10px;
    background: #ee2fc5;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0414f3;
    transition-duration: 0.3s;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .online{
    text-align: center;    
  }
.example{
  display:inline-block;
}
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    
  }
  .button:hover{
    color:red;
    background-color:whitesmoke;
    transition-duration:1s;
  }
/*chatt*/
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 18px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 19px;
  right: 28px;
  width: 280px;
  font-weight: bolder;
  font-size:large;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:rgb(0, 94, 218);
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #fefeff;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: rgb(65, 206, 69);
  color: white;
  font-size:large;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
  .notic{
    background-color: white;
    color: rgb(101, 9, 107);
    font-family:'AdorshoLipi', sans-serif;
  }
  .notic p{
    font-size: x-large;
    height: 40px;

  }
/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  background-image: url('pic/tt.jpg');
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 500px) {
  .row, .main, .column, .introduce,.Principle {
        width: 100%;
  }
}

.row ul{
  list-style-type:disclosure-closed;
  display: block;
  padding: 10px;
  margin-left:30px;
  float: left;
}
.row li a{
  text-decoration: none;
  color:rgb(189, 35, 128);
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Crimson Text', serif;
}
.row li a:hover{
  color: black;
  font-size:19px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: rgb(229, 235, 247);
  width: 95%;
  padding:25px;
  border-radius: 10px 20px 30px 40px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color:rgb(78, 55, 171);
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  padding: 10px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.intro{
    width: 280px;
    text-align: center;
    background-color: rgb(68, 74, 80);
    color:rgb(255, 99, 71);
    padding: 7px;
    font-size: 25px;
    border-radius:3px 5px 10px 3px;
}
.intro:hover{

  background-color:rgb(76, 175, 80);
  color:white;
  transition-duration: 0.5s;
}
.introduce{
  background-color: rgb(237, 239, 243);
  color:black;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-weight: bold;
  padding: 14px;
  text-align: justify;
  border: 5px solid rgb(78, 55, 171);
  border-radius: 10px;
}
.Principle{
  border: 5px solid rgb(78, 55, 171);
  background-color:rgb(253, 239, 232);
  padding: 7px;
  display: flex;
  font-family: 'Crimson Text', serif;
  border-radius: 15px 15px 0px 4px; 
}
.az{
  margin-top: 130px;
  margin-left: 4px;
  width: 70%;

}
.bs{
 margin-top: 130px;
 margin-left: 4px;
 width: 70%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: larger;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*4 colouumn*/
.column {
  margin-left: 3px;
  width: 24.5%;
  height: 400px; /* Should be removed. Only for demonstration */
  color: white;
}
.column i{
font-size: 50px;
color: white;
margin-top: 20%;
margin-left: 40%;
}
.column h2{
  text-align: center;
  margin-top: 50px;
}
.column p{
  margin-top: 10px;
  text-align:center;
  font-size: 14px;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text, {font-size: 11px}
}
  /* Footer */
   .footer-distributed{
    background-color: #292c2f;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 45px;
    margin-top: 2px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    color:  #5383d3;
   }
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:tomato;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color:rgb(255, 255, 255);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color:rgb(238, 3, 82);
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  #fa7508;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
   }
   .footer-distributed .footer-icons{
    margin-top: 25px;
    
   }
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
   }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .row .column{   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
/*scroll button*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
